/*Intro*/

.intro {
  position: relative;
  padding-bottom: 41px;
  width: 580px;
  margin: 0 auto;

  @media only screen and (max-width: 767px) {
    width: 100%;
    padding-bottom: 22px;
  }

  &__container {
    @media only screen and (max-width: 767px) {
      padding: 0 5px;
    }
  }

  &__wrapper {
    background-image: url(../images/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 736px;
  }

  &__title {
    font-size: 14px;
    line-height: 1.4;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #c0c0c0;
    text-align: center;
    margin-bottom: 2px;

    @media only screen and (max-width: 767px) {
      font-size: 12px;
    }
  }

  &__subtitle {
    font-size: 54px;
    text-align: center;
    color: #fff;
    margin-bottom: 18px;

    @media only screen and (max-width: 767px) {
      font-size: 35px;
    }
  }

  &__content {
    position: absolute;
    content: "";
    top: 475px;

    @media only screen and (max-width: 1440px) {
      top: 450px;
    }
  }

  &__info {
    position: absolute;
    content: "";
    bottom: -653px;
    right: -420px;
    display: flex;

    @media only screen and (max-width: 1440px) {
      right: -200px;
    }

    @media only screen and (max-width: 991px) {
      left: 71%;
      transform: translateX(-70%);
    }
  }

  &__item {
    display: flex;
    margin-right: 16px;

    &:last-child {
      margin-right: 0;
    }
  }

  &__img {
    margin-right: 6px;
  }

  &__data {
    font-size: 12px;
  }

  &__text {
    text-align: center;

    @media only screen and (max-width: 767px) {
      font-size: 11px;
    }
  }
}
