/*Tools*/

.tools {

  &__content {
    display: grid;
    grid-template-columns: 1fr 1fr;

    @media only screen and (max-width: 1100px) {
      grid-template-columns: 1fr;
    }
  }

  &__body {
    position: relative;
    background: #000000;
    padding: 0 15px;
  }

  &__works {
    background-image: url(../images/tools.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }

  &__intro {
    display: flex;
    flex-direction: column;
    padding-top: 173px;
    padding-bottom: 153px;
    max-width: 514px;
    margin: 0 auto;

    @media only screen and (max-width: 767px) {
      padding: 100px 0;
    }
  }

  &__subtitle {
    margin-bottom: 6px;
  }

  &__title {
    margin-bottom: 14px;
  }

  &__text {
    margin-bottom: 20px;
  }

  &__btn {
    position: relative;
    max-width: 152px;
    padding: 10px 10px 13px 42px;
    border-radius: 14px;
    color: #000000;
    border: 1px solid #fff;
    background-color: #fff;

    &::after {
      content: "";
      position: absolute;
      top: 5px;
      left: 4px;
      width: 32px;
      height: 32px;
      background-color: #000000;
      border-radius: 14px;
    }

    &:hover {
      cursor: pointer;
      background-color: rgb(134, 128, 128);
      border-color: rgb(134, 128, 128);
    }

    span {
      font-size: 16px;
    }
  }

  &__works {
    position: relative;
    height: 540px;
  }

  &__info {
    display: flex;
    position: absolute;
    bottom: 40px;
    right: 40px;
  }

  &__item {
    display: flex;
    margin-right: 16px;

    &:last-child {
      margin-right: 0;
    }
  }

  &__img {
    margin-right: 6px;
  }

  &__title {
    font-size: 28px;
  }

  &__data {
    font-size: 12px;
  }
}
